:root {
    --text-color: #FAFAFF;
    --background-color: #44b556;
    --primary-color: #2f27ce;
    --secondary-color: #dedcff;
    --accent-color: #8f3bff;
}

body {font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      color: var(--text-color);
      background-color: var(--background-color);
}
header { background-color: var(--background-color);
        color: var(--text-color);
        text-align: center;
        padding: 0.5em 0 0.5em 0;
}
header a {text-decoration: none;}
header a:link {color: var(--text-color)}
header a:visited {color: var(--text-color);}
header a:hover {color: var(--secondary-color);}
nav {color: var(--text-color);
        background-color: var(--primary-color);
        font-size: 120%;
        font-weight: bold;
        padding: 0;
        text-align: center;
}

nav li {
        border-bottom: 1px solid var(--primary-color);
}

nav ul{list-style-type: none;
        margin: 0;
        padding-left: 0;
        font-size: 1.2em;
        
}
nav a:link {color: var(--text-color);}
nav a:visited {color: var(--secondary-color);}
nav a:hover {color: var(--accent-color);}
nav a {text-decoration: none;
        transition:color 3s ease;
}

main {background-color: var(--background-color);
        padding: 1px 20px 20px 30px;
        display: block;
        overflow: auto;
}

h1 {margin-bottom: 0;
        margin-top: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {color: var(--secondary-color);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 1px var(--accent-color);
}
h3 {color: #000000;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 1px var(--primary-color);
}
dt {color: var(--primary-color);}
li {margin-bottom: 1em;}
footer {font-size: 75%;
        font-style: italic;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 2em;
        
        background-color: var(--background-color);
}
#feedback {font-size: 90%;}
#wrapper {background-color: var(--background-color);
          background: linear-gradient(var(--accent-color),var(--secondary-color));
          min-height: 100vh;
          background-repeat: no-repeat;
}
#homehero {height: 300px;
           background-image: url(fullband-gettyimages.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}
#drummerhero {height: 300px;
           background-image: url(drumset_drumeo.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}
#vocalhero {height: 300px;
           background-image: url(singerimage.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}
#guitarhero {height: 300px;
           background-image: url(Rockwood-Electric-Guitar-Red.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}
#keyboardhero {height: 300px;
           background-image: url(keyboard.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}
#djhero {height: 300px;
           background-image: url(dj_turntable.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}
* {box-sizing: border-box;}

table {border: 2px solid var(--accent-color);
        border-collapse: collapse;
}
table th {border: 2px solid var(--accent-color);
        padding: 0.5em;
}
table td {border: 2px solid var(--accent-color);
        padding: 0.5em;
        text-align: center;
}
.text {text-align: left;}
tr:nth-of-type(even) {background-color: var(--primary-color);}
tr:nth-of-type(odd) {background-color: var(--secondary-color);}
tr:nth-of-type(odd) {color: #000000;}

form {display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
}
input {margin-bottom: 0.5em;}
textarea {margin-bottom: 0.5em;}

video{float:right;
      margin:1em;
}

@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    nav li {
        border-bottom: none;
    }

    form {width: 60%;
        max-width: 30em;
        display: grid;
        grid-template-columns: 6em 1fr;
        gap: 1em;}
    input[type="submit"] {
        grid-column: 2/2;
        width: 9em;
    }
}
@media (min-width: 1024px) {
    #wrapper {
              margin: auto;
              width: 80%;
              border: 1px solid var(--primary-color);
              box-shadow: 3px 3px 3px var(--accent-color); 
        }
    
    nav {text-align: center;
        padding-left: 1em;
    }
    @supports (display: grid) {
        nav ul {
                flex-direction: row;
                padding-top: 1em;
        }
        .hero {
                grid-area: hero;
        }
        header { 
                grid-area: header; 
        }
        nav    { 
                grid-area: nav;
        }
        main   { 
                grid-area: main; 
        }
        footer { 
                grid-area: footer; 
        }
        #wrapper {
          display: grid;
          grid-template: 
            "header header"
            "hero   hero"
            "nav  nav"
            "main  main"
            "footer  footer" 
            / 180px 1fr;  
        }   
    }
}